.movegrid {
  margin-inline: auto;
  border: 0.5vw solid rgb(0, 0, 0);
  border-radius: 1vw;
  padding: 2vw;
  width: 90vw; /* Or a specific width */
  height: 20vw; /* Or a specific height */
  max-height: 300px;
  background: url("IMAGES/repeating grid bright version.png") repeat; /* Or repeat-y, or repeat */
  background-size: 20vw 20vw; /* Adjust as needed for your pattern */
  animation: scroll-pattern 10s linear infinite; /* Define the animation */
}

/* Styles specifically for screens up to 480px wide (common phone breakpoint) */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 10px;
  }
  .nametitle {
    width: 80vw;
  }
}



@keyframes scroll-pattern {
  0% {
    background-position-x: 0%; /* Start position */
    background-position-y: 0%;
  }
  100% {
    background-position-x: 20vw;
    background-position-y: 20vw; /* End position, creates the repeating effect */
  }
}




@font-face{
  font-family: "Coolvetica";
  src: url("FONTS/Coolvetica.otf");
  src: url("FONTS/Coolvetica\ Rg.ttf");
}
  body {
    background-color: rgb(255, 255, 255);
    font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  }
.holder{
  display: flex;
  max-width: 90vw;
   
}
.artifact{
  display: inline-block;
  width: 33%;
  max-width: 33%;
  margin-left: 2vw;

}
iframe {
  width: 100%;
    max-width: 33vw;
    height: 28.125vw; /* 100/56.25 = 560/315 = 1.778 */
    display: inline;
}
h1{
  font-size: 5vw;
}

h2 {
  max-width: 40vw;
  font-size: 3vw;
}



  .contact{
    font-size: 3vw;
    position: absolute;
    right:3.5vw;
  }

  a {
    text-decoration: underline wavy;
    color: #4508bc;
  }

  a:visited {
    color: #6f00ff;
  }

  a:hover{
    text-decoration: underline dotted;
  }

  .centerer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    /*align-items: center; /* Centers vertically */
  }


  .nametitle {
    color: rgb(0, 0, 0);
    font-family: "Coolvetica";

    position: relative;
    top: 2vw;
    right: -45vw;
    width: 50vw;


  }